{% extends "@OodUser/Resetting/layout_step_by_step.html.twig" %}
{% trans_default_domain 'application' %}

{% block layout_step_by_step %}
    <div id="step-3">
        <h3 class="h3-responsive mb-3">{{ 'resetting_reset.title'|trans }}</h3>
        {{ form_start(form,
            { 'action': path('ood_user_resetting_reset',{'token': token}),
                'attr'  : {'novalidate':'novalidate'}} ) }}
        <div class="form-group">
            {{ form_label(form.plainPassword.first ) }}
            {{ form_widget(form.plainPassword.first, {'attr': {'autofocus':'', 'tabindex':'1','class':'form-control' }} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.second ) }}
            {{ form_widget(form.plainPassword.second, {'attr': {'tabindex':'2','class':'form-control' }} ) }}
        </div>
        <button type="submit" class="btn btn-outline-primary">{{ 'resetting_reset.submit'|trans }}</button>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock layout_step_by_step %}
