{% extends "@OodUser/layout.html.twig" %}
{% trans_default_domain 'application' %}

{% block content %}
        <h2 class="text-center h2-responsive mb-3">{{ 'registration_request.title'|trans }}</h2>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate' }} ) }}
        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, { 'attr': {'tabindex':'1','class':'form-control', 'autofocus': '' }} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, { 'attr': { 'tabindex':'2','class':'form-control' }} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first , { 'attr': { 'tabindex':'3','class':'form-control' }} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, { 'attr': { 'tabindex':'4','class':'form-control' }} ) }}
        </div>
        <button type="submit" class="btn btn-outline-primary" tabindex="5">{{ 'registration_request.submit'|trans }}</button>
        {{ form_rest(form) }}
        {{ form_end(form) }}
{% endblock content %}
